[submodule "sdl"]
	path = sdl
	url = https://github.com/eddieringle/SDL
[submodule "libuv"]
	path = libuv
	url = https://github.com/joyent/libuv.git
[submodule "SDL"]
	path = SDL
	url = https://github.com/eddieringle/SDL
[submodule "nanovg"]
	path = nanovg
	url = https://github.com/memononen/nanovg.git
[submodule "yaml-cpp"]
	path = yaml-cpp
	url = https://gitlab.com/bminor/yaml-cpp.git
